Repository AivleSchool-teams/CargoTago, pull requests merged in 2024-01, with the labels that each got.

#17 JWT + localStorage 로그인 세션유지 기능
  build.gradle
  src/main/front/package-lock.json
  src/main/front/src/pages/Join-Carrier3.js
  src/main/front/src/pages/Login.js
  src/main/front/src/pages/Login.module.css
  src/main/java/com/example/truck/CarrierRegistration/CarrierInfo.java
  src/main/java/com/example/truck/CarrierRegistration/CarrierInfoRepository.java
  src/main/java/com/example/truck/Security/CorsConfig.java
  src/main/java/com/example/truck/Security/SecurityConfig.java
  src/main/java/com/example/truck/UserLoginController.java
  src/main/java/com/example/truck/UserRole.java
  src/main/java/com/example/truck/UserSecurityService.java
  src/main/java/com/example/truck/jwt/controller/AuthController.java
  src/main/java/com/example/truck/jwt/controller/UserController.java
  src/main/java/com/example/truck/jwt/dto/ResponseDTO.java
  src/main/java/com/example/truck/jwt/dto/UserDTO.java
  src/main/java/com/example/truck/jwt/dto/UserResponseDTO.java
  src/main/java/com/example/truck/jwt/security/JwtAuthenticationFilter.java
  src/main/java/com/example/truck/jwt/security/TokenProvider.java
  src/main/java/com/example/truck/jwt/service/UserService.java
Labels: feature, be

#20 화물등록페이지 작성 및 데이터 DB에 저장
  src/main/front/public/images/R-57.png
  src/main/front/public/images/R-58.png
  src/main/front/public/images/Rect-57.png
  src/main/front/public/images/calendar-1@2x.png
  src/main/front/public/images/noundeliverybox6341674-1@2x.png
  src/main/front/public/images/nounmoneybag3428906-1@2x.png
  src/main/front/public/images/nounpallet5428894-1@2x.png
  src/main/front/public/images/nountruck1081891-1@2x.png
  src/main/front/public/images/nountruck869297-1@2x.png
  src/main/front/public/images/polygon-1@2x.png
  src/main/front/public/images/wingbody-3@2x.png
  src/main/front/src/pages/CargoRegi.js
  src/main/front/src/pages/CargoRegi.module.css
  src/main/front/src/pages/Regist.module.css
Labels: fe, be

#22 화물등록페이지관련 누락파일 추가
  src/main/front/package-lock.json
  src/main/front/src/App.js
  src/main/front/src/pages/CargoRegi.js
  src/main/front/src/pages/CargoRegi.module.css
  src/main/java/com/example/truck/RegistInfo/RegistInfo.java
  src/main/java/com/example/truck/RegistInfo/RegistInfoDTO.java
  src/main/java/com/example/truck/RegistInfo/RegistInfoRepository.java
  src/main/java/com/example/truck/RegistInfo/RegistrationController.java
  src/main/java/com/example/truck/RegistInfo/RegistrationService.java
  src/main/java/com/example/truck/Security/CorsConfig.java
  src/main/java/com/example/truck/Security/SecurityConfig.java
Labels: refactor, fe, be

#26 화물등록페이지 관련 DB 컬럼 삭제 및 추가 + 폰트 수정
  src/main/front/src/pages/CargoRegi.js
  src/main/front/src/pages/CargoRegi.module.css
  src/main/java/com/example/truck/RegistInfo/RegistInfo.java
  src/main/java/com/example/truck/RegistInfo/RegistInfoDTO.java
  src/main/java/com/example/truck/RegistInfo/RegistrationService.java
Labels: refactor, feature, fe, be

#28 게시판 기능 구현
  src/main/front/package-lock.json
  src/main/front/package.json
  src/main/front/src/App.js
  src/main/front/src/pages/Main.module.css
  src/main/front/src/pages/api/FileUploadService.js
  src/main/front/src/pages/api/api.js
  src/main/front/src/pages/component/table/CommonTable.css
  src/main/front/src/pages/component/table/CommonTable.js
  src/main/front/src/pages/component/table/CommonTableColumn.js
  src/main/front/src/pages/component/table/CommonTableRow.js
  src/main/front/src/pages/post/EditorComponent.js
  src/main/front/src/pages/post/Pagination.js
  src/main/front/src/pages/post/Paging.css
  src/main/front/src/pages/post/Post.css
  src/main/front/src/pages/post/Post.module.css
  src/main/front/src/pages/post/PostCreate.js
  src/main/front/src/pages/post/PostList.js
  src/main/front/src/pages/post/PostView.js
  src/main/front/src/pages/post/UploadFiles.js
  src/main/front/src/pages/post/uploadRouter.js
  src/main/java/com/example/truck/Posts/PostsController.java
  src/main/java/com/example/truck/Posts/PostsInfo.java
  src/main/java/com/example/truck/Posts/PostsInfoDTO.java
  src/main/java/com/example/truck/Posts/PostsInfoRepository.java
  src/main/java/com/example/truck/Posts/PostsService.java
  src/main/java/com/example/truck/Security/SecurityConfig.java
  src/main/java/com/example/truck/jwt/controller/UserController.java
Labels: fe, be, help wanted

#36 RGrefactor
  src/main/front/package-lock.json
  src/main/front/src/pages/CargoRegi.js
Labels: refactor, feature, fe, be

#37 RR
  src/main/java/com/example/truck/RegistInfo/RegistInfo.java
Labels: refactor

#41 CarrierAIselect 페이지 구현.
  src/main/front/public/images/rectangle-60@2x.png
  src/main/front/src/App.js
  src/main/front/src/global.css
  src/main/front/src/pages/CarrierAIselect.js
  src/main/front/src/pages/CarrierAIselect.module.css
Labels: feature, fe, Carrier

#43 chat 이름 수정, 배차 개인정보 수정, CargoRegiAI로 데이터전달
  src/main/front/src/pages/CargoRegi.js
  src/main/front/src/pages/CargoRegi.module.css
  src/main/front/src/pages/CargoRegiAI.js
  src/main/front/src/pages/Chat.js
  src/main/front/src/pages/Shipper-Detail.js
  src/main/front/src/pages/Shipper-Main.js
  src/main/java/com/example/truck/DTO/PageDTO.java
  src/main/java/com/example/truck/jwt/controller/UserController.java
Labels: fe, help wanted, Shipper

#46 체크박스 1개 제거 , 뒤로가기기능 추가
  src/main/front/package-lock.json
  src/main/front/package.json
  src/main/front/src/pages/CargoRegi.js
  src/main/front/src/pages/CargoRegi.module.css
Labels: refactor, fe

#47 차주 차량 등록 페이지를 구현
  src/main/front/public/images/notepen.png
  src/main/front/public/images/notetime.png
  src/main/front/src/App.js
  src/main/front/src/global.css
  src/main/front/src/pages/Carrier-Car.js
  src/main/front/src/pages/Carrier-Car.module.css
  src/main/front/src/pages/Carrier-Main.js
  src/main/front/src/pages/Carrier-Main.module.css
  src/main/front/src/pages/Shipper-Main.js
  src/main/front/src/pages/Shipper-Main.module.css
  src/main/java/com/example/truck/CarrierCarInfo/CarrierCarController.java
  src/main/java/com/example/truck/CarrierCarInfo/CarrierCarInfo.java
  src/main/java/com/example/truck/CarrierCarInfo/CarrierCarInfoDTO.java
  src/main/java/com/example/truck/CarrierCarInfo/CarrierCarInfoRepository.java
  src/main/java/com/example/truck/CarrierCarInfo/CarrierCarService.java
  src/main/java/com/example/truck/CarrierRegistration/CarrierInfo.java
  src/main/java/com/example/truck/CarrierRegistration/CarrierInfoRepository.java
  src/main/java/com/example/truck/CarrierRegistration/CarrierRegistrationController.java
  src/main/java/com/example/truck/CarrierRegistration/CarrierRegistrationService.java
  src/main/java/com/example/truck/ShipperRegistration/ShipperInfoRepository.java
Labels: feature, fe, be, Carrier

#49 화주 최적운임 DB추가
  src/main/front/src/pages/CargoRegi.js
  src/main/front/src/pages/CargoRegiAI.js
  src/main/front/src/pages/CargoRegiAI.module.css
  src/main/front/src/pages/Carrier-Main.js
  src/main/front/src/pages/Shipper-Main.js
  src/main/front/src/pages/Shipper-Main.module.css
  src/main/java/com/example/truck/RegistInfo/RegistInfo.java
  src/main/java/com/example/truck/RegistInfo/RegistInfoDTO.java
  src/main/java/com/example/truck/RegistInfo/RegistrationService.java
Labels: be, Shipper

#51 화주 배차 상세페이지 연결
  src/main/front/src/App.js
  src/main/front/src/global.css
  src/main/front/src/pages/CargoRegi.module.css
  src/main/front/src/pages/Shipper-Detail.js
  src/main/front/src/pages/Shipper-Detail.module.css
  src/main/front/src/pages/Shipper-Main.js
  src/main/front/src/pages/Shipper-Main.module.css
Labels: feature, fe, be, Shipper

#55 CarrierAIselect 페이지 수정
  src/main/front/src/App.js
  src/main/front/src/pages/CarrierAIselect.js
  src/main/front/src/pages/CarrierAIselect.module.css
Labels: refactor, fe, Carrier

#57 Receipt(인수증) 페이지 구현
  src/main/front/public/images/rectangle-19@2x.png
  src/main/front/public/images/rectangle-20@2x.png
  src/main/front/public/images/rectangle-84@2x.png
  src/main/front/src/App.js
  src/main/front/src/global.css
  src/main/front/src/pages/Receipt.js
  src/main/front/src/pages/Receipt.module.css
Labels: feature, fe, help wanted

#59 화주 배차현황 & 차주 메인페이지 리스트출력
  src/main/front/src/pages/CargoRegi.js
  src/main/front/src/pages/CargoRegiAI.js
  src/main/front/src/pages/Carrier-Main.js
  src/main/front/src/pages/Carrier-Main.module.css
  src/main/front/src/pages/Shipper-List.js
  src/main/front/src/pages/Shipper-List.module.css
  src/main/front/src/pages/Shipper-Main.js
  src/main/front/src/pages/Shipper-Main.module.css
  src/main/java/com/example/truck/CarrierList/CarrierListController.java
  src/main/java/com/example/truck/CarrierList/CarrierListService.java
  src/main/java/com/example/truck/DTO/PageDTO.java
  src/main/java/com/example/truck/RegistInfo/RegistInfo.java
  src/main/java/com/example/truck/RegistInfo/RegistInfoDTO.java
  src/main/java/com/example/truck/RegistInfo/RegistInfoRepository.java
  src/main/java/com/example/truck/RegistInfo/RegistrationService.java
  src/main/java/com/example/truck/ShipperRegistration/ShipperInfoController.java
  src/main/java/com/example/truck/ShipperRegistration/ShipperInfoRepository.java
Labels: feature, fe, be, Carrier, Shipper

#62 CarrierAIselect 페이지 DB 등록 및 링크 연결
  src/main/front/src/pages/CarrierAIselect.js
  src/main/front/src/pages/CarrierAIselect.module.css
  src/main/front/src/pages/Shipper-Detail.js
  src/main/java/com/example/truck/TruckApplication.java
Labels: feature, be, help wanted, Carrier

#63 메인페이지 연결 및 회원가입 형식 추가, 게시판 연결
  src/main/front/src/pages/Carrier-Car.js
  src/main/front/src/pages/Carrier-Car.module.css
  src/main/front/src/pages/Carrier-Main.js
  src/main/front/src/pages/Carrier-Main.module.css
  src/main/front/src/pages/Join-Shipper2.js
  src/main/front/src/pages/Join-Shipper2.module.css
  src/main/front/src/pages/Join_Carrier2.js
  src/main/front/src/pages/Shipper-Main.js
  src/main/front/src/pages/Shipper-Main.module.css
  src/main/java/com/example/truck/CarrierCarInfo/CarrierCarInfo.java
  src/main/java/com/example/truck/CarrierCarInfo/CarrierCarInfoDTO.java
  src/main/java/com/example/truck/CarrierCarInfo/CarrierCarService.java
Labels: refactor, feature, fe, be, Post

#65 날짜 범위 내 데이터만 필터링 기능 접수완료 배차완료 운송완료로 나눠서 필터링
  src/main/front/src/pages/Shipper-List.js
  src/main/front/src/pages/Shipper-List.module.css
Labels: feature, fe, Shipper

#69 카카오맵 연동
  src/main/front/public/index.html
  src/main/front/src/pages/CargoRegiAI.js
  src/main/front/src/pages/Shipper-Detail.module.css
  src/main/front/src/pages/Shipper-Main.js
  src/main/java/com/example/truck/RegistInfo/RegistInfo.java
  src/main/java/com/example/truck/RegistInfo/RegistInfoDTO.java
  src/main/java/com/example/truck/RegistInfo/RegistrationService.java
Labels: feature, fe, be, Shipper

#71 검색필터링,숫자콤마
  src/main/front/package-lock.json
  src/main/front/package.json
  src/main/front/public/index.html
  src/main/front/src/pages/CargoRegiAI.js
  src/main/front/src/pages/CargoRegiAI.module.css
  src/main/front/src/pages/Shipper-Detail.js
  src/main/front/src/pages/Shipper-Detail.module.css
  src/main/front/src/pages/Shipper-List.js
Labels: refactor, feature, fe

#73 차주 부분 회원가입 유효성 수정
  src/main/front/src/pages/Join_Carrier2.js
  src/main/front/src/pages/Join_Carrier2.module.css
Labels: feature, fe, Carrier

#75 Receipt 페이지 DB 등록 및 CSS 수정.
  src/main/front/package-lock.json
  src/main/front/src/global.css
  src/main/front/src/pages/Receipt.js
  src/main/front/src/pages/Receipt.module.css
Labels: refactor, feature, fe, be, help wanted

#77 CarrierAIselect Modify CSS , ADD Comma
  src/main/front/src/pages/CarrierAIselect.js
  src/main/front/src/pages/CarrierAIselect.module.css
Labels: refactor, fe, Carrier

#79 게시판 수정 페이지 구현 및 화물 크기 텍스트 변경
  src/main/front/src/App.js
  src/main/front/src/pages/CargoRegi.js
  src/main/front/src/pages/post/Post.module.css
  src/main/front/src/pages/post/PostCreate.js
  src/main/front/src/pages/post/PostModify.js
  src/main/front/src/pages/post/PostView.css
  src/main/front/src/pages/post/PostView.js
  src/main/front/src/pages/post/UploadFiles.js
  src/main/java/com/example/truck/Posts/FilesInfo.java
  src/main/java/com/example/truck/Posts/PostsController.java
  src/main/java/com/example/truck/Posts/PostsService.java
  src/main/java/com/example/truck/WebConfig.java
  src/main/resources/application.properties
Labels: refactor, feature, fe, be, Post

#81 차주 화주 승인 기능 추가
  src/main/front/src/pages/Carrier-Main.js
  src/main/front/src/pages/CarrierAIselect.js
  src/main/front/src/pages/CarrierAIselect.module.css
  src/main/front/src/pages/Receipt.js
  src/main/front/src/pages/Receipt.module.css
  src/main/java/com/example/truck/Approve/ApproveController.java
  src/main/java/com/example/truck/Approve/ApproveService.java
  src/main/java/com/example/truck/CarrierRegistration/CarrierInfo.java
  src/main/java/com/example/truck/CarrierRegistration/CarrierInfoRepository.java
  src/main/java/com/example/truck/CarrierRegistration/CarrierRegistrationService.java
  src/main/java/com/example/truck/RegistInfo/RegistInfo.java
  src/main/java/com/example/truck/RegistInfo/RegistInfoRepository.java
  src/main/java/com/example/truck/RegistInfo/RegistrationService.java
  src/main/java/com/example/truck/Security/CorsConfig.java
Labels: feature, fe, be, Carrier, Shipper

#83 addcommaAndCarrierInfo
  src/main/front/src/pages/Shipper-Detail.js
  src/main/front/src/pages/Shipper-List.js
  src/main/front/src/pages/Shipper-Main.js
  src/main/java/com/example/truck/CarrierRegistration/CarrierRegistrationController.java
  src/main/java/com/example/truck/CarrierRegistration/CarrierRegistrationService.java
Labels: refactor, feature, fe, be

#85 차주 화주 승인 기능 수정
  src/main/front/src/App.js
  src/main/front/src/pages/Carrier-Main.js
Labels: feature, fe, be, Carrier, Shipper

#87 Main페이지 CSS 수정
  src/main/front/package-lock.json
  src/main/front/package.json
  src/main/front/src/pages/Main.js
  src/main/front/src/pages/Main.module.css
Labels: refactor, fe, help wanted

#89 디테일페이지 차주 정보 연동
  src/main/front/package-lock.json
  src/main/front/package.json
  src/main/front/src/pages/CargoRegi.js
  src/main/front/src/pages/CargoRegi.module.css
  src/main/front/src/pages/CargoRegiAI.js
  src/main/front/src/pages/Shipper-Detail.js
  src/main/java/com/example/truck/CarrierRegistration/CarrierRegistrationController.java
  src/main/java/com/example/truck/CarrierRegistration/CarrierRegistrationService.java
  src/main/java/com/example/truck/RegistInfo/RegistInfo.java
  src/main/java/com/example/truck/RegistInfo/RegistInfoDTO.java
  src/main/java/com/example/truck/RegistInfo/RegistrationService.java
Labels: fe, be, Carrier

#93 ShipperMain 페이지 링크 추가.
  src/main/front/src/pages/Shipper-Main.js
Labels: refactor, be, Shipper

#95 로고아이콘클릭 시 지역정보 메시지출력
  src/main/front/src/pages/Carrier-Main.js
  src/main/front/src/pages/Carrier-Main.module.css
Labels: feature, fe, help wanted, Carrier

#97 누락된 컬럼 추가
  src/main/front/src/pages/CargoRegi.js
  src/main/front/src/pages/CargoRegiAI.js
  src/main/java/com/example/truck/RegistInfo/RegistInfo.java
  src/main/java/com/example/truck/RegistInfo/RegistInfoDTO.java
  src/main/java/com/example/truck/RegistInfo/RegistrationService.java
Labels: refactor, fe, be

#99 차주 차량등록 DB수정
  src/main/front/src/pages/Carrier-Car.js
  src/main/front/src/pages/Carrier-Car.module.css
  src/main/front/src/pages/Carrier-Detail.js
  src/main/front/src/pages/Carrier-Main.module.css
  src/main/java/com/example/truck/CarrierCarInfo/CarrierCarInfo.java
  src/main/java/com/example/truck/CarrierCarInfo/CarrierCarInfoDTO.java
  src/main/java/com/example/truck/CarrierCarInfo/CarrierCarService.java
Labels: be, Carrier

#101 디테일페이지 차량번호 추가
  src/main/front/src/pages/Shipper-Detail.js
  src/main/java/com/example/truck/CarrierCarInfo/CarrierCarController.java
  src/main/java/com/example/truck/CarrierCarInfo/CarrierCarInfoRepository.java
  src/main/java/com/example/truck/CarrierCarInfo/CarrierCarService.java
Labels: fe, be, Shipper

#105 로그아웃 기능추가, 차주 배송완료 기능 추가
  src/main/front/src/pages/Carrier-Detail.js
  src/main/front/src/pages/Carrier-Detail.module.css
  src/main/front/src/pages/Carrier-Main.js
  src/main/front/src/pages/Main.js
  src/main/front/src/pages/Main.module.css
  src/main/front/src/pages/Shipper-Detail.js
  src/main/front/src/pages/Shipper-List.js
  src/main/java/com/example/truck/Approve/ApproveController.java
  src/main/java/com/example/truck/Security/CorsConfig.java
  src/main/java/com/example/truck/ShipperRegistration/ShipperInfoController.java
Labels: fe, be, Carrier

#108 화주리스트 차주리스트 스크롤 + 개수 필터링
  src/main/front/src/pages/CargoRegi.js
  src/main/front/src/pages/Carrier-List.js
  src/main/front/src/pages/Shipper-List.js
  src/main/front/src/pages/Shipper-List.module.css
Labels: feature, fe, Carrier, Shipper

#109 개수 필터링 픽스
  src/main/front/src/pages/Carrier-List.js
  src/main/front/src/pages/Shipper-List.js
Labels: refactor, fe, Carrier, Shipper

#111 수정완료!
  src/main/front/src/pages/Carrier-Detail.js
  src/main/front/src/pages/Carrier-Main.js
  src/main/front/src/pages/Main.js
  src/main/front/src/pages/Shipper-Detail.js
Labels: fe, Carrier

#113 Main페이지 수정, Login / Logout 구현 및 수정, 링크 추가 및 연결, Carrier-Main 페이지 수정
  src/main/front/src/pages/Carrier-Main.js
  src/main/front/src/pages/Main.js
  src/main/front/src/pages/Main.module.css
Labels: refactor, fe, be, Carrier, Shipper

#117 Main페이지 수정
  src/main/front/src/pages/Main.js
  src/main/front/src/pages/Main.module.css
Labels: refactor, fe

#119 cargoregi, 배송완료 수정
  src/main/front/src/pages/CargoRegi.js
  src/main/front/src/pages/Carrier-Detail.js
  src/main/front/src/pages/Main.js
Labels: fe, Carrier

#120 차주 화주 메인페이지 수정
  src/main/front/src/pages/Carrier-Main.js
  src/main/front/src/pages/Carrier-Main.module.css
  src/main/front/src/pages/Shipper-List.js
  src/main/front/src/pages/Shipper-Main.js
Labels: fe, Carrier, Shipper

#121 메인페이지 수정
  src/main/front/public/images/page1.png
  src/main/front/src/pages/Main.js
  src/main/front/src/pages/Main.module.css
Labels: fe

#124 차주 수정
  src/main/front/src/pages/Carrier-Main.js
Labels: fe, Carrier
